.register-container {
    width: 800px;
    margin: 500px auto; /* 중앙 정렬을 위한 여백 설정 */
    padding: 20px;
    background-color: ivory;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: darkolivegreen;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: darkgreen;
}

p {
    text-align: center;
    margin-top: 15px;
}

p a {
    color: darkolivegreen;
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}
