/* 회원 가입 폼 컨테이너 스타일 */
.register-container {
    max-width: 900px;
    margin: 170px auto 30px;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* 회원 가입 폼 제목 스타일 */
.register-container h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

/* 입력 그룹 스타일 */
.input-group {
    margin-bottom: 15px;
}

/* 레이블 스타일 */
.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group .birthdate-select {
    display: inline-block;
    width: calc(33.33% - 10px); /* 전체 폭을 3등분하여 각 select 요소에 적용 */
    margin-right: 10px;
    border-radius: 5px;
    box-sizing: border-box; /* 너비를 padding과 border를 포함하여 계산 */
}

.input-group .birthdate-select:last-child {
    margin-right: 0;
}

/* 입력 필드 스타일 */
.input-group input[type="text"],
.input-group input[type="text_id"], 
.input-group input[type="text_email"],
.input-group input[type="password"],
.input-group input[type="date"],
.input-group input[type="email"],
.input-group input[type="number"],
.input-group select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    margin-top: 5px;
    width: calc(100% - 30px);
}

.input-group input[type="text_id"] {
    width: 70%;
}

.input-group input[type="email"] {
    width: calc(50% - 5px); /* 입력 필드의 너비를 조절하여 왼쪽 정렬 */
}

.input-group #emailselect,
.input-group input[type="text_email"] {
    display: inline-block;
    width: calc(30.33% - 5px); /* 3등분하여 각 요소의 너비를 설정하고 마진을 조정합니다 */
    margin-right: 5px;
}

.input-group button {
    width: 25%;
}

.button-container {
    text-align: center; /* 버튼을 가로로 정렬하여 중앙에 위치시킴 */
    margin-top: 20px; /* 버튼과 상위 요소 사이의 간격을 조절 */
}

button {
    width: 45%; /* 버튼의 너비를 조절하여 한 줄에 두 개씩 위치하도록 함 */
    margin: 5px; /* 버튼 사이의 간격을 조절 */
    padding: 10px;
    background-color: darkolivegreen;
    border: none;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: darkgreen;
}

